


#car {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(92, 92, 92, 0.7);
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.btn-close {
    position: absolute;
    top:0px;
    justify-content: flex-start;
    text-align: justify;
    padding: 5px;
    cursor: pointer;
}
.showCar {
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: #000;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 5px;
}
